<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h3>Commands</h3>
    <h4>--help</h4>
    <p>This can be used to recive help in the serber.</p>
    <hr>
    <h3>event-info</h3>
    <p>This takes two arguments Association and Fest to fetch through the Database about upcoming events in the described Fest.</p>
    <hr>
    <h3>ping</h3>
    <p>This replies with a pong.</p>
  </body>
</html>
